.inner-editor-container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 1px;
    display: flex;
    justify-content: center;
}

.outer-editor-container {
    box-sizing: border-box;
    width: 54vw;
    height: 100%;
    background-color: #ffffff;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.editor-header {
  display: 'flex';
  align-items: center;
}


@media (min-width: 651px) {
    .ce-block__content, .ce-toolbar__content {
      max-width: calc(100%) !important;
      margin-left: 2%;
      margin-right: 2%
    }
  }
  
  .cdx-block {
    max-width: 100% !important;
  }

.save-button {
  width: 60px;
  height: 30px;
}

.image-tool__caption {
  display: none;
}