.background {
    background: rgb(238,174,201);
    background: radial-gradient(circle, rgba(238,174,201,1) 22%, rgba(233,195,148,1) 100%);
    max-height: 100vh;
    width: 100vw;
}

.topbar-to-contents-container {
    position: absolute; /* Changed to absolute */
    display: flex;
    top: 66px;
    bottom: 0; /* Align to bottom */
    left: 0;
    right: 0;
    padding: 15px; /* Shorthand for padding */
    box-sizing: border-box; /* Ensure padding is included in the height calculation */
  }

.right-column-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

